
@{
}

<div class="container my-3"> 
	<h2 class="mb-5"> Oops! you are not allowed to access this page</h2>
	<div class="mb-3">
		<img src="https://clipart-library.com/8300/2368/oops-smiley-1.jpg" alt="Not Allowed" width="300" />
	</div>
	
</div>